$primary-color: #228b22;
$secondary-color: #ff7f50;
$secondary-hover-color: #ff6347;
$secondary-light-color: #f0ad4e;
$secondary-light-hover-color: #ec971f;
$text-color: #333;
$background-color: #f4f7f6;
$box-shadow-light: 0 2px 5px rgba(0, 0, 0, 0.1);
$box-shadow-heavy: 0 4px 10px rgba(0, 0, 0, 0.15);
$border-color: #d4d4d4;
$font-family: Arial, sans-serif;
