<!-- Statistics Section -->
<div class="statistics-container">
    <h2>Statistics</h2>
    <div class="divider"></div>
    <h3>Activity</h3>
    <ul class="activity-statistics-container">
        <li class="title">Current:</li>
        <li>Week: <strong>30</strong> hours </li>
        <li>Month: <strong>65</strong> hours </li>
        <li class="title previous">Previous:</li>
        <li>Week: <strong>30</strong> hours </li>
        <li>Month: <strong>30</strong> hours </li>
    </ul>
    <div class="divider"></div>
    <h3>Day off</h3>
    <ul>
        <li>Vacations: <strong>2.5</strong> days</li>
        <li>Sick Leaves: <strong>1</strong> days</li>
    </ul>
    <a href="#" class="pure-button button-secondary">Export will be available soon..</a>
</div>
