<!-- Grouped Activities -->
<div class="activities-list-container">
    <!-- Table Header -->
    <div class="activity-header pure-g hide-on-sm">
        <div class="hide-on-sm pure-u-md-3-24"><span>Project</span></div>
        <div class="hide-on-sm pure-u-md-10-24"><span>Description</span></div>
        <div class="hide-on-sm pure-u-md-4-24"><span>Time</span></div>
        <div class="hide-on-sm pure-u-md-4-24"><span>Actions</span></div>
    </div>

    {{ range $activityGroup := .data.activities }}
    <!-- Activity Group Wrapper -->
    <div class="activity-group">
        <!-- Group Header -->
        <div class="activity-group-header pure-g">
            <div class="hide-on-sm pure-u-md-15-24"></div>
            <div class="pure-u-2-3 pure-u-md-5-24">
                <span>Total: {{$activityGroup.duration.hours}}h {{$activityGroup.duration.minutes}}m</span>
                <button
                        class="pure-button button-xsmall button-success"
                        title="Create new activity in this group"
                        type="button"
                >+</button>
            </div>
            <div class="pure-u-1-4 pure-u-md-4-24">
                <span class="date">{{$activityGroup.date}}</span>
            </div>
        </div>

        {{ range $item := $activityGroup.items }}
        <!-- Individual Activity Item -->
        <form class="pure-form">
            <div class="activity-item pure-g">
                <div class="pure-u-1 pure-u-md-3-24 project">
                    {{ if $item.projectName }}
                    <span>{{ $item.projectName }}</span>
                    {{ else }}
                    <span>Default</span>
                    {{ end }}
                </div>
                <div class="pure-u-1-1 pure-u-md-13-24">
                    <span>{{ $item.description }}</span>
                </div>
                <div class="pure-u-1-1 pure-u-md-4-24">
                    <span>{{ $item.duration.hours }}h {{ $item.duration.minutes }}m</span>
                </div>
                <div class="pure-u-1-1 pure-u-md-4-24 actions">
                    <button
                            class="pure-button button-secondary button-xsmall"
                            title="Edit this activity"
                            type="button"
                    >Edit</button>
                    <button
                            class="pure-button button-error button-xsmall"
                            title="Delete this activity"
                            type="button"
                    >Delete</button>
                </div>
            </div>
        </form>
        {{ end }}
    </div>
    {{ end }}

    <!-- Pagination -->
    <div class="pure-g">
        <div class="pure-u-1 pagination">
            <button
                    class="pure-button button-small button-secondary"
                    title="Go to the previous page"
                    type="button"
                    {{ if not .data.hasPrevPage }}disabled{{ end }}
            >
                Previous
            </button>
            <button
                    class="pure-button button-small button-secondary"
                    title="Go to the next page"
                    type="button"
                    {{ if not .data.hasNextPage }}disabled{{ end }}
            >
                Next
            </button>
        </div>
    </div>
</div>